* {
    box-sizing: border-box;
}
.container {
    display: block;
    max-width: 1180px;
    border: 0 10px 0 10px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 20px;
}

.check {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
}
.check_active {
    background-color: red;
}

.workers__wraper {
    text-align: center;
    margin-bottom: 20px;
}
.worker, .name, .price, .amount, .zp, .butget {
    border: 1px solid black;
    width: 70px;
    display: inline-block;
    margin: 0;
}
.name {
    width: 200px;
}
.workers__wraper .worker {
    cursor: pointer;
}
 .active {
    background-color: rgb(149, 247, 149);
}

.format_tip__wraper {
    text-align: center;
    margin-bottom: 10px;
}
.format {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}
.tip_paketa {
    display: inline-block;
    text-align: center;
}

.table__wraper {
    display: inline-table;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 932px;
    text-align: center;
}
.zp__wraper {
    display: inline-table;
    margin-left: 240px;
}
.red__wraper {
    display: none;
    margin-left: 140px;
}
.red {
    width: 70px;
}
.edit, .editt {
    border: 1px solid black;
    width: 30px;
    display: inline-block;
    margin: 0;
}
.edit {
    background-color: aqua;
    cursor: pointer;
}
.submit__edit {
    border: 1px solid black;
    width: 30px;
    display: inline-block;
    margin: 0;
    background-color: rgb(27, 216, 49);
    cursor: pointer;
}
